*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

###LaTeX###

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xd
*.bib
*.fls

###SublimeText###

# SublimeText project files
/*.sublime-project
*.sublime-workspace
sftp-config*.json

# Temp Files
*~

###Misc###
*.pdf
*.png
data_wrangling/cps_wrangling/educate.do.txt
data_wrangling/cps_wrangling/educate2.do.txt
data_wrangling/cps_wrangling/married.do.txt
data_wrangling/cps_wrangling/married2.do.txt
data_wrangling/cps_wrangling/match.txt
data_wrangling/cps_wrangling/matchcps.do
data_wrangling/cps_wrangling/multobs.do.txt
data_wrangling/cps_wrangling/race.do.txt
data_wrangling/cps_wrangling/readme.txt
data_wrangling/cps_wrangling/year.do.txt
data_wrangling/cps_wrangling/stata_readme.txt

data_wrangling/cps_wrangling/panel_construction/Madrian\ and\ Lefgren/
fail_log.txt
processed.txt
cover/
data_wrangling/cps_wrangling/panel_construction/store_log.txt
*.csv
*.noseids
*.ipynb_checkpoints/
*.npy
*.pck
*.pkl
model/*.html
model/results/*
model/results2/*
.smt/*
model/20130810-215344.json
model/metadata.json
model/prependresults_001_0721052631579.h5
results*/*
model/results*/*
model/figures/*.eps
vb_suite/benchmarks.db
writing/seminar/notes_on_larrys_results.md
data_wrangling/cps_wrangling/panel_construction/doc/*
data_wrangling/cps_wrangling/panel_construction/merge_log.txt
data_wrangling/cps_wrangling/panel_construction/panel_log.txt
data_wrangling/cps_wrangling/panel_construction/earn_log.txt
data_wrangling/cps_wrangling/panel_construction/update_panels.txt
data_wrangling/cps_wrangling/panel_construction/panel_check.json
data_wrangling/cps_wrangling/panel_construction/make_earn_completed.txt
data_wrangling/cps_wrangling/panel_construction/make_full_panel_completed.txt
data_wrangling/cps_wrangling/panel_construction/make_hdf_store_completed.txt
data_wrangling/cps_wrangling/panel_construction/make_hdf_store_log.json
data_wrangling/cps_wrangling/panel_construction/make_hdf_store_special.txt