*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

###LaTeX###
 
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xd

###SublimeText###
 
# SublimeText project files
/*.sublime-project
*.sublime-workspace
sftp-config*.json

###Misc###
*.pdf
*.png
data_wrangling/cps_wrangling/educate.do.txt
data_wrangling/cps_wrangling/educate2.do.txt
data_wrangling/cps_wrangling/married.do.txt
data_wrangling/cps_wrangling/married2.do.txt
data_wrangling/cps_wrangling/match.txt
data_wrangling/cps_wrangling/matchcps.do
data_wrangling/cps_wrangling/multobs.do.txt
data_wrangling/cps_wrangling/race.do.txt
data_wrangling/cps_wrangling/readme.txt
data_wrangling/cps_wrangling/year.do.txt
data_wrangling/cps_wrangling/stata_readme.txt
